<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title{% endblock title %}</title>
</head>
<body>

{% block body %}
{% endblock body %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafaMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method))
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafaMethod(settings.type)&& !this.crossDomain){
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }

        }
    })

</script>

{% block js %}
{% endblock %}

</body>
</html>